[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
generate = "python3 algo.py"
test = "pipenv run python -m pytest --log-cli-level=debug"
trace = "python3 -m trace --count"

[packages]
pytest = "*"

[dev-packages]

[requires]
python_version = "3.9"
