[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
test = "pipenv run python -m pytest --log-cli-level=debug"

[packages]
pytest = "*"

[dev-packages]

[requires]
python_version = "3.9"
